
<mat-toolbar color="primary">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu_open</mat-icon>
    </a>
    <span>Exam Portal</span>
    <span class="example-spacer"></span>
    <a
    *ngIf = "!isLoggedIn"
    [routerLink]="'/login'"
    mat-button 
    class="example-icon favorite-icon mr20 ml20" 
    aria-label="Example icon-button with heart icon">
      Login
    </a>
    
    <a 
    *ngIf = "!isLoggedIn"

    [routerLink]="'/signup'"
    mat-button 
    class="example-icon favorite-icon  " 
    aria-label="Example icon-button with heart icon">
      Register
    </a>



    <a
    *ngIf = "isLoggedIn && user"
    mat-button 
    style="margin-right: 20px;"
    class="example-icon favorite-icon  " 
    routerLink="/admin/profile"
    aria-label="Example icon-button with heart icon">
       {{user.username}}
    </a>

    <a
    (click)="logout()"
    *ngIf = "isLoggedIn"

    mat-button 
    class="example-icon favorite-icon  " 
    aria-label="Example icon-button with heart icon">
      Logout
    </a>
   
    
  </mat-toolbar>

