.profile-image{
    max-width: 200px;
    max-height: 200px;
    border: 2px solid black;
    border-radius: 50%;

}

.table-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    /* text-align: left; */
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f7f7f7;
    font-weight: bold;
    width: 30%;
}

td {
    width: 70%;
}

tr:last-child td {
    border-bottom: none;
}
.item-center{
    align-items: center;
    justify-content: center;
}
mat-card{
    margin: 0.1%;
    background-color: #ffffff;
    border-radius: 0.1%;
    background-position: center;
    background-size: cover;
    padding: 35px;
    
    
    
}
