<mat-card class="sidebar-card">
    <mat-action-list>

        <div mat-subheader> <b>Available categories</b></div>
        <button routerLink="/user-dashboard/0" mat-button class="no-wrap-button">
            <mat-icon mat-list-icon >home</mat-icon>All Quizzes </button>

         
            <!-- <button  mat-list-item *ngFor="let c of categories"> 
                <mat-icon  mat-list-icon >quiz</mat-icon>
                {{c.title}}
            </button> -->
            <button class="no-wrap-button" [routerLink]="'/user-dashboard/'+c.cid" mat-button *ngFor="let c of categories">
                <mat-icon  mat-list-icon inline=true>quiz</mat-icon>
                {{c.title}}
            </button>
           
          
          

    </mat-action-list>
</mat-card>
<!-- {{categories | json}} -->
